@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  padding: 10px;
  margin: 0; }

a {
  text-decoration: none;
  font-family: "Poiret One"; }

h2 {
  font-size: 30px;
  color: white;
  font-family: "Poiret One";
  text-transform: uppercase; }

h1 {
  font-size: 30px;
  color: white;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase; }

.cuerpoGrid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 250px;
  align-items: initial;
  max-width: 50%;
  max-width: 50%;
  justify-content: center; }
  .cuerpoGrid .img {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }

.header {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  height: auto; }

.header__menu {
  background: rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-rows: minmax(min-content, 50px);
  grid-auto-flow: column;
  width: 100%;
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000; }

.nav {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  transition: all 300ms;
  flex-grow: 1; }

.nav__item {
  transition: all 300ms;
  flex: 1 1 auto;
  padding: 0;
  display: inline-block;
  flex-flow: row nowrap;
  flex-grow: 1; }
  .nav__item a {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10px;
    text-shadow: 4px 4px 4px blue;
    transition: all 300ms;
    text-decoration: none; }

.nav__item:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.section {
  display: flex;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto; }

.imagenes {
  width: auto;
  height: auto;
  background: blue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 15px; }

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgba(0, 0, 0, 0.1); }

.texto {
  flex: 2 1 auto;
  padding: 15px;
  width: auto;
  height: auto; }

.texto--descripcion {
  text-align: justify;
  font-size: 30px;
  font-family: "Poiret One";
  color: white; }

.texto--servicios {
  text-align: justify;
  font-size: 30px;
  font-family: "Poiret One";
  color: white; }

.texto--sobreNosotros {
  padding: 5px;
  margin: 0px 10px 10px 10px;
  color: white;
  font-family: "Poiret One";
  text-align: center;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  transition: all 300ms; }

.texto--home {
  padding: 15px;
  font-family: "Poiret One";
  font-size: 1.5rem;
  text-align: justify;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  margin: 30px 10px 10px 30px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  max-width: 50%; }

.container__columnas {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0px;
  flex-flow: wrap;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000; }

.item__encabezado {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  text-align: center;
  font-family: "Poiret One";
  border-radius: 49px 49px 49px 49px;
  -moz-border-radius: 49px 49px 49px 49px;
  -webkit-border-radius: 49px 49px 49px 49px;
  border: 0px solid #000000; }
  .item__encabezado h2 {
    color: white;
    text-transform: uppercase;
    font-family: "Poiret One"; }

.container__textServi {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Poiret One";
  color: white;
  font-size: 20px; }
  .container__textServi h2 {
    font-family: "Poiret One"; }

.container--sobreNos {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

section .sobreNos {
  display: flex;
  flex-direction: wrap;
  justify-content: center; }

.imgSobr {
  display: block;
  padding: 5px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  transition: all 300ms; }

.imgSobr:hover {
  transform: scale(1.1); }

.estiloForm {
  clear: right;
  color: white;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 17px;
  font-weight: bold;
  font-family: "Poiret One", cursive;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  max-width: 50%; }

.container__flex {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 0, 8rem;
  grid-auto-flow: row dense;
  padding: 15px;
  min-width: 200px; }

.grid-gallery__item:nth-child(11n + 1) {
  grid-column: span 2; }

.grid-gallery__item:nth-child(11n + 4) {
  grid-column: span 1; }

.grid-gallery__item:nth-child(11n + 6) {
  grid-column: span 1; }

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  margin: 15px;
  padding: 0;
  transition: all 300ms; }

.grid-gallery__image:hover {
  transform: scale(1.1); }

.container__contact {
  background: rgba(0, 0, 0, 0.1);
  flex: 2 1 auto;
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000; }

.container__mapa {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px teal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  margin: 30px;
  flex: 2 1 auto; }

.col-xl-5 {
  margin: 10px;
  max-width: 95%;
  background-image: linear-gradient(to right top, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2); }

.contact-info {
  margin-top: 10%; }
  .contact-info img {
    align-items: center;
    align-content: center; }
  .contact-info h4 {
    font-family: "Poiret One";
    color: white;
    letter-spacing: 2px; }
  .contact-info p {
    color: white;
    font-family: "Poiret One";
    padding: 20px; }

.contact-info h2 {
  letter-spacing: 2px; }

.col-md-5 {
  margin: 10px;
  color: white; }

.contact-form button {
  background: #25274d;
  color: #fff; }

.contact-form button:focus {
  box-shadow: none; }

.form-group {
  letter-spacing: 2px;
  font-family: "Poiret One";
  padding: 0;
  margin: 0; }

body {
  width: auto;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #5ffb5f); }

.columnas__item {
  margin: 15px;
  max-width: 300px;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  box-shadow: 10px 10px teal;
  transition: all 300ms; }

.columnas__item:hover {
  transform: scale(1.1); }

.item__contenido {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  .item__contenido li {
    font-size: 20px;
    color: white;
    font-family: "Baloo Da 2";
    line-height: 1;
    letter-spacing: 1px;
    list-style-type: circle; }

.btn {
  font-size: 1.5rem;
  background: #d16ba5;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  box-shadow: 5px 5px teal; }
  .btn a {
    text-decoration: none;
    color: white; }

.boton {
  padding: 0;
  margin: 0; }

.texto--miniatura {
  color: white;
  font-family: "Poiret One";
  text-align: justify; }
  .texto--miniatura p {
    text-align: justify;
    font-size: 1.2rem;
    transition: all 300ms; }

.footer {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px teal; }

.footer--facebook, .footer--instagram, .footer--youtube {
  background: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px; }

.footer--youtube a {
  color: white; }

.footer--facebook a, .footer--instagram a, .footer--youtube a {
  color: white; }

.footer--instagram a {
  color: white; }

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

nav {
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px teal;
  padding: 5px 40px; }

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0; }

nav ul li {
  padding: 5px 0;
  cursor: pointer; }

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3; }

nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 1px;
  width: 100%;
  background: #66f315;
  opacity: 0;
  transition: all 300ms linear; }

nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.container h1 {
  text-align: center; }

nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 30px;
  font-weight: 600;
  cursor: default;
  user-select: none; }

nav ul li a {
  font-family: "Poiret One";
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.4s;
  text-transform: uppercase; }

nav ul li:hover a {
  color: #ffffff;
  text-decoration: none; }

nav ul li i {
  font-size: 1rem; }

nav ul li.btn {
  display: none; }

nav ul li.btn.hide i:before {
  content: "\f00d"; }

.items {
  transition: all 300ms; }

.items a {
  font-size: 0.8rem; }

.items:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 1px;
  grid-template-areas: "mobileEnc contMobile" "deskEnc contDesk"; }

.mobileEnc {
  grid-area: mobileEnc;
  background: #25274d;
  color: #fff; }

.contMobile {
  grid-area: contMobile;
  background: rgba(0, 0, 0, 0.1);
  color: #fff; }
  .contMobile p {
    color: #fff;
    font-family: "Poiret One"; }

.deskEnc {
  grid-area: deskEnc;
  background: #25274d;
  color: #fff; }

.contDesk {
  grid-area: contDesk;
  background: rgba(0, 0, 0, 0.1); }
  .contDesk p {
    color: #fff;
    font-family: "Poiret One"; }

.lt-grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 1fr;
  gap: 20px 50px;
  grid-template-areas: "lt-Enc lt-Cont";
  align-items: center;
  align-self: center; }

.lt-Enc, .lt2-enc2 {
  grid-area: lt-Enc;
  align-self: center;
  justify-self: center; }

.lt-Cont, .lt2-cont2 {
  grid-area: lt-Cont;
  align-self: center;
  justify-self: center;
  background: rgba(0, 0, 0, 0.1); }
  .lt-Cont p, .lt2-cont2 p {
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    font-family: "Poiret One"; }

.lt2-grid-container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 20px 50px;
  grid-template-areas: "lt2-cont2 lt2-enc2"; }

.lt2-cont2 {
  grid-area: lt2-cont2; }

.lt2-enc2 {
  grid-area: lt2-enc2; }

@media screen and (max-width: 576px) {
  .item a {
    font-size: 10px; }
  h1 {
    font-size: 20px; }
  .textSobr {
    font: 15px; }
  h2 {
    font-size: 20px; }
  .item__contenido li {
    font-size: 15px; }
  .texto--planes {
    font-size: 15px; }
  .lt-grid-container {
    display: flex;
    flex-flow: column; }
  .texto--sobreNosotros {
    padding: 0;
    margin: 0; }
  .main {
    padding: 0;
    margin: 0; }
  .container {
    padding: 0;
    margin: 0; }
  .logo a {
    font-size: 1rem; }
  .container--sobreNos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0; }
  .lt-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 20px 50px;
    grid-template-areas: "lt-Cont" "lt-Enc"; }
  .lt2-grid-container {
    display: grid;
    grid-template-columns: 1.1fr;
    grid-template-rows: 0.7fr 1fr;
    gap: 20px 50px;
    grid-template-areas: "lt2-enc2" "lt2-cont2"; } }

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px; }
  nav ul li.items {
    width: 100%;
    display: none; }
  nav ul li.items.show {
    display: block; }
  nav ul li.btn {
    display: block; }
  nav ul li.items:hover {
    border-radius: 5px; }
  nav ul li.items:hover:after {
    opacity: 0; }
  .container--sobreNos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .container__flex {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .lt-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 20px 50px;
    grid-template-areas: "lt-Cont" "lt-Enc"; }
  .lt2-grid-container {
    display: grid;
    grid-template-columns: 1.1fr;
    grid-template-rows: 0.7fr 1fr;
    gap: 20px 50px;
    grid-template-areas: "lt2-enc2" "lt2-cont2"; } }

@media screen and (max-width: 1200px) {
  .container__sobreNos {
    flex-direction: column;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .grid-gallery {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 10px; }
  .mapa {
    margin: 0; }
  .texto--home {
    max-width: 100%; } }
